#form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #f7f7f7;
  }
  #form .form-card {
    background: #fff;
    width: 24rem;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.11);
  }
  #form .form-card .card-title {
    background-color: #00b89c;
    padding: 2rem;
  }
  #form .form-card .card-title h1 {
    color: #fff;
    text-align: center;
    font-size: 1.2rem;
  }
  #form .form-card .content {
    padding: 3rem 2.5rem 5rem;
  }
  #form .form-card input,
  #form .form-card #password {
    display: block;
    width: 100%;
    font-size: 1rem;
    margin-bottom: 1.75rem;
    padding: 0.25rem 0;
    border: none;
    border-bottom: 1px solid #dbdbdb;
    transition: all 0.5s;
  }
  #form .form-card #email:hover,
  #form .form-card #password:hover {
    border-color: #7a7a7a;
  }
  #form .form-card #email:active, #form .form-card #email:focus,
  #form .form-card #password:active,
  #form .form-card #password:focus {
    border-color: #00d1b2;
  }
  #form .form-card .checkbox {
    color: #b5b5b5;
    font-size: 0.8rem;
  }
  #form .form-card .checkbox span {
    margin-left: 0.5rem;
  }
  #form .form-card a {
    font-size: 0.8rem;
  }
  #form .form-card .options {
    color: #b5b5b5;
    margin-bottom: 1.5rem;
  }
  #form .form-card button {
    cursor: pointer;
    font-size: 1.2rem;
    color: #00d1b2;
    border-radius: 4rem;
    display: block;
    width: 100%;
    background: transparent;
    border: 2px solid #00d1b2;
    padding: 0.9rem 0 1.1rem;
    transition: color 0.5s, border-color 0.5s;
  }
  #form .form-card button:hover, #form .form-card button:focus {
    color: #009e86;
    border-color: #009e86;
  }
  #form .form-card button:active {
    transform: translateY(1px);
  }
  h5 { margin-top: 40px;}
  label {
    cursor: pointer;
  }
  
  .regular-checkbox {
    display: none;
  }
  
  .regular-checkbox + label {
    background-color: #fafafa;
    border: 1px solid #dbdbdb;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    padding: 7px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
  }
  
  .regular-checkbox:checked + label {
    background-color: #e9ecee;
  }
  
  .regular-checkbox:checked + label:after {
    content: "\2714";
    font-size: 11px;
    position: absolute;
    top: 0;
    left: 3px;
    color: #b5b5b5;
  }
  
  input:focus,
  select:focus,
  textarea:focus,
  button:focus {
    outline: none;
  }
  ul{ margin: 0 !important;}
  ul li{
      list-style:none;
      border-bottom : 1px solid rgb(197, 197, 197);
      padding: 10px;
}
  ion-icon{ font-size: 20px;}

  .notification{ margin-bottom:10px; }
  